@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*::after,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 28em) {
    html {
      font-size: 40%; } }

body {
  padding: 0;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  background-color: #eaeaea; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #33363b; }

p {
  font-family: Montserrat, sans-serif;
  line-height: 1.9rem;
  font-size: 1.6rem;
  font-weight: 200; }

h1 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem; }

h2 {
  font-weight: bolder;
  color: #110338; }

h3 {
  font-weight: normal; }

h4 {
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 0.7rem; }

.sense {
  grid-row: 1/2;
  grid-column: 2/3; }
  @media only screen and (max-width: 37.5em) {
    .sense {
      display: none; } }

.sense-bottom {
  grid-row: 5/6;
  grid-column: 2/3; }

.btn {
  align-self: center;
  height: 3rem;
  width: 5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      font-size: 1rem;
      height: 2rem;
      width: 3rem; } }
  .btnA {
    background-color: #f6653c; }
    .btnA:hover {
      background-color: #dd5b36; }
  .btnB {
    background-color: #7ebc59; }
    .btnB:hover {
      background-color: #70A950; }
  .btn:active {
    background-color: #dd5b36;
    transform: translateY(2px);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }

.loader-div {
  background-color: #ffe164;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 1200px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  @media only screen and (max-width: 75em) {
    .loader-div {
      width: 100vw; } }
  @media only screen and (max-width: 28em) {
    .loader-div {
      width: 100vw; } }

.stop {
  animation: 2s opaque forwards; }

@keyframes opaque {
  0% {
    opacity: 1;
    z-index: 100; }
  100% {
    opacity: 0;
    z-index: -1; } }

.loader-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 360px;
  align-items: center;
  justify-content: center; }
  .loader-container img {
    height: 100%;
    width: 100%; }

.ghost {
  animation-name: rotate;
  animation-duration: 8s;
  transition: all 10s ease; }

@keyframes rotate {
  from {
    transform: rotate(1deg); }
  to {
    transform: rotate(359deg); } }

.shadowFrame {
  width: 130px;
  margin: auto;
  margin-top: 25px; }

.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center; }

.shadow ellipse {
  transform-origin: center center; }

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%; }
  50% {
    width: 60%;
    margin: 0 18%; }
  100% {
    width: 90%;
    margin: 0 5%; } }

.sidebar {
  grid-row: 1/7;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  transition: all 0.2s ease-in-out; }
  @media only screen and (max-width: 50em) {
    .sidebar {
      position: absolute;
      width: 100vw;
      z-index: 500;
      height: 100%;
      padding: 3rem; } }
  @media only screen and (max-width: 28em) {
    .sidebar {
      width: 100vw;
      padding: 6rem; } }

.sidebar h2:first-of-type {
  margin-top: 3rem; }

.sidebar ul li {
  list-style-type: none;
  width: 100%; }

.sidebar a {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #594f73;
  width: 100%;
  height: 3rem;
  padding-left: 0.5rem; }

.sidebard a:hover {
  background-color: lightgrey; }

.sidebar__subtitle {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #dcd7eb;
  border-top: 1px solid #2b6498;
  height: 4rem;
  line-height: 1.6;
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-top: 1rem;
  width: 100%;
  cursor: pointer; }

.sidebard i {
  position: absolute;
  right: 2.2rem;
  top: 20%; }

.sidebar__instructions {
  margin-bottom: 2rem;
  font-size: 1.4rem; }

.sidebar ul,
.sidebar li {
  list-style-type: none; }

.youtube {
  height: 40px;
  width: auto;
  margin-top: 8rem;
  border: none;
  outline: none;
  padding: 10px 0;
  box-shadow: none; }

.sidebar__set {
  display: block;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  height: auto;
  transform: translateY(-0.5rem);
  text-transform: uppercase;
  background-color: green;
  color: white;
  margin-top: 2rem; }

.moveSidebar {
  display: none;
  width: 0;
  background-color: lightgrey; }

#subList1,
#subList2,
#subList3,
#subList4 {
  display: inline-block; }

.icon {
  width: 3rem;
  height: 3rem;
  fill: currentColor; }

.icon:hover {
  fill: darkgrey; }

.sidebar-container {
  grid-row: 1/7;
  grid-column: 1/2;
  height: 100%; }
  @media only screen and (max-width: 50em) {
    .sidebar-container {
      display: none; } }

.block {
  display: block; }

.icon {
  margin-right: 3rem; }

.extra {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 600px;
  height: 620px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #ffe164;
  border-radius: 12px;
  box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100; }
  @media only screen and (max-width: 62.5em) {
    .extra {
      top: 80%;
      height: 600px; } }
  @media only screen and (max-width: 37.5em) {
    .extra {
      top: 60%;
      width: 320px;
      height: 700px; } }

.extra a {
  color: #2b6498;
  display: inline; }

.extra__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 4rem;
  align-items: center;
  width: 400px;
  height: 640px; }
  @media only screen and (max-width: 37.5em) {
    .extra__content {
      grid-template-columns: 1fr;
      grid-template-rows: 3fr;
      width: 280px;
      grid-gap: 0; } }

.extra-col1,
.extra-col2 {
  grid-template-rows: 1fr 5rem; }

.extra p {
  line-height: 1.4; }

p {
  color: #33363b; }

h4 {
  color: #2b6498; }

.bmc-button {
  grid-row: 2/3;
  justify-self: start;
  align-self: start; }
  @media only screen and (max-width: 37.5em) {
    .bmc-button {
      grid-row: 3/4;
      margin-top: 4rem; } }

.point {
  cursor: pointer; }

.icon-base {
  width: 5em;
  height: 5rem;
  fill: #2b6498; }

.icon-base:hover {
  fill: darkorange; }

.xc {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 30px;
  fill: blue;
  cursor: pointer; }

.xc:hover {
  transform: scale(1.1);
  opacity: 0.8; }

.xxc {
  display: flex; }

.pointer {
  cursor: pointer; }

.nav-bar {
  background-color: #368cbf;
  color: #fff;
  display: grid;
  height: 7rem;
  width: 1200px;
  margin: auto;
  overflow: none;
  box-shadow: 3px 0px 1px 0px rgba(0, 0, 0, 0.4);
  grid-template-columns: 3% 7% 15% 50% 25%;
  z-index: 5; }
  @media only screen and (max-width: 75em) {
    .nav-bar {
      width: 100vw; } }
  @media only screen and (max-width: 28em) {
    .nav-bar {
      width: 100vw; } }
  .nav-bar__logo {
    grid-column: 2/3;
    align-self: center;
    justify-self: start; }
  .nav-bar__title {
    grid-column: 3/4; }
  .nav-bar__main {
    grid-column: 4/5;
    text-align: center; }
  @media only screen and (max-width: 50em) {
    .nav-bar__link {
      grid-column: 4/5; } }
  @media only screen and (max-width: 50em) {
    .nav-bar {
      grid-template-columns: 5vw 18vw 1fr 18vw 5vw; } }
  .nav-bar__title {
    font-family: Montserrat, sans-serif;
    margin-right: auto;
    align-self: center;
    font-size: 1.6rem; }
    @media only screen and (max-width: 50em) {
      .nav-bar__title {
        display: none; } }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__title {
        font-size: 1rem; } }
    .nav-bar__title:hover {
      color: #ffe164; }
    .nav-bar__title-page {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      height: 7rem;
      font-size: 2.4rem; }
      @media only screen and (max-width: 50em) {
        .nav-bar__title-page {
          font-size: 2rem; } }
      .nav-bar__title-page-main {
        line-height: 2.4rem;
        text-align: center; }
      .nav-bar__title-page-deco {
        height: 4rem;
        width: auto;
        margin: 0 2rem; }
        @media only screen and (max-width: 37.5em) {
          .nav-bar__title-page-deco {
            display: none; } }
  .nav-bar__logo-img {
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
    justify-self: center;
    fill: #fff; }
    .nav-bar__logo-img:hover {
      fill: #ffe164; }
  .nav-bar__links {
    display: flex;
    justify-content: space-evenly; }
  .nav-bar__link {
    font-size: 1.4rem;
    align-self: center;
    color: #fff;
    font-family: Montserrat, sans-serif;
    text-decoration: none; }
    .nav-bar__link:hover {
      color: #ffe164; }
    @media only screen and (max-width: 50em) {
      .nav-bar__link.link2, .nav-bar__link.link3 {
        display: none; } }

.menu {
  fill: #fff;
  align-self: center;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 50em) {
    .menu {
      display: block; } }
  .menu:hover {
    fill: #7ebc59; }

.introduction {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 800px;
  height: 400px;
  background-color: #fff;
  justify-self: center;
  align-self: center;
  margin: 4rem 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 62.5em) {
    .introduction {
      width: 600px;
      height: 333px; } }
  @media only screen and (max-width: 37.5em) {
    .introduction {
      grid-row: 1/2;
      justify-content: center;
      width: 400px;
      height: 500px;
      flex-direction: column; } }
  @media only screen and (max-width: 28em) {
    .introduction {
      width: 360px; } }
  .introduction a {
    display: inline;
    text-decoration: none;
    color: #368cbf;
    cursor: pointer; }
  .introduction__img {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url(../../img/clockwoman.png);
    background-size: 100%;
    padding: 20px;
    align-self: center;
    justify-self: flex-end;
    margin-bottom: 2rem;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 62.5em) {
      .introduction__img {
        margin: 2rem 2rem; } }
    .introduction__img img {
      width: 100%;
      height: 100%; }
  .introduction__text {
    width: 60%;
    color: #2B6498; }
    @media only screen and (max-width: 37.5em) {
      .introduction__text {
        width: 90%;
        margin-top: 2rem; } }
  .introduction__text p {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 200;
    color: #2B6498; }
    @media only screen and (max-width: 37.5em) {
      .introduction__text p {
        font-size: 1.6rem;
        line-height: 2.2rem; } }
    @media only screen and (max-width: 28em) {
      .introduction__text p {
        font-size: 2.2rem;
        line-height: 2.6rem; } }

.links {
  margin-top: 3rem; }

.card {
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4); }

.clockFace {
  position: relative;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.hand {
  position: absolute;
  height: 2px;
  width: 4rem;
  top: 50%;
  left: 13px;
  background: #5e5555;
  border-radius: 50px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); }

.centre {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 47%;
  left: 47%;
  z-index: 999; }

.second-hand {
  display: none;
  width: 6rem;
  height: 2px;
  transform: translate(-12px, 2px); }

.minute-hand {
  width: 4rem;
  left: 10%;
  top: 50%; }

.hour-hand {
  width: 3rem;
  height: 4px;
  left: 20%;
  display: block; }

.wrapper {
  width: 1200px;
  position: relative;
  box-shadow: 3px 0px 1px 0px rgba(0, 0, 0, 0.4);
  display: grid;
  align-items: center;
  background-color: #d0eaf8;
  margin: 0 auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 23rem 1fr; }
  @media only screen and (max-width: 75em) {
    .wrapper {
      width: 100vw; } }
  @media only screen and (max-width: 62.5em) {
    .wrapper {
      grid-template-columns: 28rem 1fr; } }
  @media only screen and (max-width: 50em) {
    .wrapper {
      grid-template-columns: 0 1fr; } }
  @media only screen and (max-width: 28em) {
    .wrapper {
      width: 100vw; } }

.card {
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4); }

.content {
  grid-row: 3/4;
  grid-column: 2/3;
  position: relative;
  width: 900px;
  margin: auto;
  background-color: #fff;
  display: grid;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  grid-template-rows: 8vw, 1fr, 1fr;
  grid-template-columns: 8vw repeat(4, minmax(0, 1fr));
  grid-row-gap: 5rem;
  font-family: Montserrat, sans-serif;
  font-weight: normal; }
  @media only screen and (max-width: 50em) {
    .content {
      width: 600px; } }
  @media only screen and (max-width: 37.5em) {
    .content {
      width: 360px; } }
  .content__scores {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 5rem; }
    .content__scores-teamA, .content__scores-teamB {
      position: relative;
      box-sizing: border-box;
      padding: 0 1rem;
      padding-left: 3rem;
      background-color: #f6653c;
      color: #fff;
      grid-column: 2/4;
      grid-row: 1/2;
      height: 5vw;
      width: 45%;
      justify-self: center;
      align-content: center;
      font-size: 2rem;
      border-radius: 5px;
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer; }
      .content__scores-teamA p, .content__scores-teamB p {
        font-size: 2.8rem;
        align-self: center;
        display: block; }
        @media only screen and (max-width: 50em) {
          .content__scores-teamA p, .content__scores-teamB p {
            font-size: 3rem; } }
    .content__scores-teamB {
      grid-column: 4/6;
      grid-row: 1/2;
      background-color: #7ebc59; }
  .content__instructions-text {
    grid-column: 1/5;
    grid-row: 2/3;
    align-self: center;
    margin-left: 4rem; }
    .content__instructions-text h2 {
      font-size: 3rem;
      color: #368cbf; }
      @media only screen and (max-width: 37.5em) {
        .content__instructions-text h2 {
          font-size: 2rem; } }
    .content__instructions-text p {
      display: flex;
      align-items: center;
      background-color: #ffe164;
      height: 10vw;
      width: 95%;
      margin-top: 2rem;
      padding-left: 4rem;
      border-radius: 5px;
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
      font-size: 3.6rem; }
      @media only screen and (max-width: 62.5em) {
        .content__instructions-text p {
          font-size: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .content__instructions-text p {
          font-size: 2rem; } }
  .content__instructions-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Anton, sans-serif;
    font-size: 9rem;
    color: #33363b;
    grid-column: 5/6;
    grid-row: 2/3;
    border-radius: 5px;
    background-color: #ffe164;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    padding-top: 1rem;
    width: 80%;
    height: 10vw;
    align-self: end; }
    @media only screen and (max-width: 37.5em) {
      .content__instructions-timer {
        font-size: 3rem;
        padding-top: 0; } }
  .content__slider2 {
    grid-column: 1/-1;
    grid-row: 3/4;
    width: 91%;
    margin-left: 4rem;
    background-color: #f6653c;
    border-radius: 1px;
    height: 1rem; }
  .content__slider {
    grid-column: 2/-1;
    grid-row: 3/4;
    width: 91%;
    align-self: end;
    margin-left: 4rem;
    background-color: #368cbf;
    border-radius: 1px;
    height: 1rem;
    z-index: 2;
    display: none; }
  .content__points-group {
    grid-column: 2/4;
    grid-row: 4/5;
    display: flex;
    align-self: start;
    justify-content: center;
    align-content: center;
    padding: 2rem 2rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .content__points-group {
        flex-direction: column;
        margin-left: 4rem;
        margin-top: -2rem; } }
  .content__points-go, .content__points-topics, .content__points-reset {
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background-color: #368cbf;
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .content__points-go, .content__points-topics, .content__points-reset {
        flex-direction: column;
        width: 8rem;
        height: 8rem;
        margin-bottom: 1rem; } }
    .content__points-go:hover, .content__points-topics:hover, .content__points-reset:hover {
      background-color: #2B6498; }
    .content__points-go:active, .content__points-topics:active, .content__points-reset:active {
      background-color: #2B6498;
      transform: translateY(2px); }
  .content__points-categories {
    grid-column: 4/6;
    grid-row: 4/5;
    align-self: start;
    width: 80%;
    padding-bottom: 5rem; }
    .content__points-categories h4 {
      font-size: 1.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #368cbf;
      align-self: center;
      margin-left: 4rem; }
      @media only screen and (max-width: 37.5em) {
        .content__points-categories h4 {
          font-size: 1rem;
          margin-top: 1rem; } }

.buttonClass {
  font-family: Anton, sans-serif;
  font-size: 3rem;
  color: #fff;
  display: block; }
  @media only screen and (max-width: 37.5em) {
    .buttonClass {
      font-size: 2rem; } }

.topicClass {
  font-family: Anton, sans-serif;
  font-size: 2.5rem;
  line-height: 1.3; }
  @media only screen and (max-width: 37.5em) {
    .topicClass {
      font-size: 2rem; } }

.blackBorder {
  border: 5px solid #33363b;
  border-radius: 5px; }

.blobA,
.blobB {
  position: absolute;
  left: -4rem;
  top: 2.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: inherit;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  display: none; }

.aScores {
  font-size: 1.6rem;
  margin-right: 1rem; }
  @media only screen and (max-width: 50em) {
    .aScores {
      display: none; } }

.links {
  grid-row: 4/5;
  grid-column: 2/3;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  border-radius: 5px;
  margin: 4rem 0;
  padding: 4rem 0rem;
  background-color: #fff;
  justify-content: flex-start;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 62.5em) {
    .links {
      width: 600px;
      height: 400px; } }
  @media only screen and (max-width: 37.5em) {
    .links {
      justify-content: center;
      width: 400px;
      height: 300px; } }
  @media only screen and (max-width: 28em) {
    .links {
      width: 360px; } }
  .links__text {
    margin-bottom: 5rem;
    color: #368cbf;
    font-size: 2rem; }
  .links__images {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .links__images {
        justify-content: space-evenly; } }
    .links__images-1 {
      width: 40%; }
      .links__images-1 img {
        width: 100%;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
        .links__images-1 img:hover {
          transform: scale(0.98) translateY(1px); }
      .links__images-1 figcaption {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        text-align: center;
        color: #368cbf; }

.footer {
  display: flex;
  width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1.5rem 0;
  height: 7rem;
  background-color: #368cbf;
  border-top: 1px solid #fff;
  box-shadow: 3px 0px 1px 0px rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 75em) {
    .footer {
      width: 100vw; } }
  @media only screen and (max-width: 28em) {
    .footer {
      width: 100vw; } }
  .footer__copyright {
    text-align: center;
    line-height: 1.5; }
    .footer__copyright p {
      font-size: 1.2rem;
      color: #fff; }

#footer a {
  color: #ffe164; }
